extends layout

block content
  .container
    .jumbotron
      .container 
        h1 How may I help you Vaishnavi?
        p Performing DevOps Exp3
        a.btn.btn-primaty.btn-lg(href="#") Show More &raquo;
